<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Poker</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript">
        var API_URL = "<%= api %>";
        </script>
        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
        <script src="/rangeslider/js/rangeslider.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
            <script>
                // Initialize a new plugin instance for all
                // e.g. $('input[type="range"]') elements.
                $('input[type="range"]').rangeslider();
                $('input[type="range"]').rangeslider('update', true);
                // Destroy all plugin instances created from the
                // e.g. $('input[type="range"]') elements.

            </script>
    </head>


    <body>
    <button id="newGame" type="NewGame" value="NewGame">New Game</button>
    <button id="nextRound" type="nextRound" value="nextRound">Next Round</button>
        <div id="table">
            <img id="logo" src="./public/images/logo.png">
        </div>
        <div id="user-actions">

            <input type="range" id="chipSlider" min="0" max="50" value="0" style="width:65%;">
            <p id="sliderOutput">£<output>0</output></p>

            <form>
                <button id="fold" type="bet" value="Fold">Fold</button>
                <button id="check" type="bet" value="Check">Check</button>
                <button id="bet" type="bet" value="Bet">Bet</button>
                <button id="call" type="bet" value="Raise">Call</button>
                <button id="raise" type="bet" value="Raise">Raise</button>
            </form>
        </div>
        <div id="players">

                <!-- Player One-->
                <div class="playerTray" id="p1Tray">
                    <div class="playerCards" id="p1c1"></div>
                    <div class="playerCards" id="p1c2"></div>
                </div>
                <div class="playerIcon" id="playerOne"><p></p></div>

                <!-- Player Two-->
                <div class="playerTray" id="p2Tray">
                    <div class="playerCards" id="p2c1"></div>
                    <div class="playerCards" id="p2c2"></div>
                </div>
                <div class="playerIcon" id="playerTwo">2</div>

                <!-- Player Three-->
                <div class="playerTray" id="p3Tray">
                    <div class="playerCards" id="p3c1"></div>
                    <div class="playerCards" id="p3c2"></div>
                </div>
                <div class="playerIcon" id="playerThree">3</div>

                <!-- Player Four-->
                <div class="playerTray" id="p4Tray">
                    <div class="playerCards" id="p4c1"></div>
                    <div class="playerCards" id="p4c2"></div>
                </div>
                <div class="playerIcon" id="playerFour">4</div>

                <!-- Player Five-->
                <div class="playerTray" id="p5Tray">
                    <div class="playerCards" id="p5c1"></div>
                    <div class="playerCards" id="p5c2"></div>
                </div>
                <div class="playerIcon" id="playerFive">5</div>

                <div id="boardPile">
                    <div id="c1"></div>
                    <div id="c2"></div>
                    <div id="c3"></div>
                    <div id="c4"></div>
                    <div id="c5"></div>
                </div>
                <!-- Dealer -->
                <div id="dealer">
                    <img id="dealer-img" src="./public/images/dealer.png">
                </div>
        </div>
    </body>
</html>