body {
  background-color: #18191A;
}

#table {
  background-image: -webkit-linear-gradient(bottom, #018F1D 0%, #5A9E00 100%);
  height: 400px;
  width: 800px;
  margin-top: 10%;
  margin-left: 31.5%;
  border-radius: 75px;
  border: 10px solid #A3A393;
  z-index: 10;
}

#user-actions {
  background-image: -webkit-linear-gradient(bottom, #018F1D 0%, #5A9E00 100%);
  height: 150px;
  width: 650px;
  margin-top: 9%;
  margin-left: 35%;
  border-radius: 75px;
  border: 10px solid #A3A393;
  position: absolute;
}

#chipSlider {
  margin-top: 5%;
  margin-left: 13%;
  display: inline-block;
}

#sliderOutput {
  margin-left: 2%;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

form{
  margin-left: 11%;
  margin-top: 1%;
}

button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 3px solid rgba(0, 0, 0, .5);
  border-radius: 6px;
}

#dealer-img {
  margin-left: 47%;
  margin-top: -29%;
  border: 5px solid rgba(255, 0, 0, .2);
  border-radius: 110px;
  height: 200px;
  width: 200px;
  position: absolute;
}
img{
    height: 45px;
    width: 40px;
}

img:hover{
  height: 150px;
  width:150px;
}

.playerCards {
  border: 1px solid white;
  display: inline-block;
  margin-top: 52%;
  margin-left: 4px;
  height: 45px;
  width: 40px;
  z-index: 15;
}


/* Styling that applies to each Player's icon */
.playerIcon{
  background-image: -ms-linear-gradient(bottom, #8F0303 0%, #C90000 100%);
  background-image: -moz-linear-gradient(bottom, #8F0303 0%, #C90000 100%);
  background-image: -o-linear-gradient(bottom, #8F0303 0%, #C90000 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8F0303), color-stop(100, #C90000));
  background-image: -webkit-linear-gradient(bottom, #8F0303 0%, #C90000 100%);
  background-image: linear-gradient(to top, #8F0303 0%, #C90000 100%);
  border: 5px solid white;
  border-radius: 70px;
  height: 100px;
  width: 100px;
  position: absolute;
  text-align: center;
}

#playerOne {

  text-align: center;
  margin-left: 70%;
  margin-top: -23%;
}

#playerTwo {
  margin-left: 50%;
  margin-top: -3%;
}

#playerThree {
  margin-left: 29.5%;
  margin-top: -23%;
}

#playerFour {
  margin-left: 29.5%;
  margin-top: -3%;
}

#playerFive {
  margin-left: 70%;
  margin-top: -3%;
}

#logo {
  height: 200px;
  width: 200px;
  margin-left: 38%;
  margin-top: 13%;
  opacity: 0.1;
}

#players {
  width: 100%;
  height: 100%;
}

.playerTray {
  background-color: black;
  border-left:  5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  height: 110px;
  width: 100px;
  position: absolute;
  border-radius: 10px;

}

#p1Tray {
  margin-left: 70%;
  margin-top: -19.7%;
}

 /*#card:hover {
 height: 200px;
 width:200px;
}*/




#p2Tray {
  margin-left: 50%;
  margin-top: 0.3%;
}

#p3Tray {
  margin-left: 29.5%;
  margin-top: -19.7%;
}

#p4Tray {
  margin-left: 29.5%;
  margin-top: 0.3%;
}

#p5Tray {
  margin-left: 70%;
  margin-top: 0.3%;
}


#p1c1 {
    width: 120px;
    height: 170px;
    background: url(../images/cards.png) 0 -340px;
}


